.actions { opacity: 0 }

.actions:hover { opacity: 1 }

body { border-top: solid thick #FF970F; border-bottom: solid thick #FF970F;
	font-family : "Gill Sans", "Calibri", sans-serif;
	font-size: 90%;
	margin: 0em;
	padding: 2em;
}

:link { color: #1EA2FF; }
:visited { color: #FF500F; }
:link:active, :visited:active, :link:hover, :visited:hover { color: #FF500F; background: #1EA2FF; }

pre { font: 1.3em monospace; color: white; background: black; overflow: auto; white-space: pre-wrap;}

article { /* HTML5 */
	display: block;
	border-radius: 0.5em;
	border: thick solid #1EA2FF;
	padding: 1.5em;
	margin: 0.5em;
	background: linear-gradient(to bottom, #FFDD73 , white); 
}

.inlinepage { border: none; }

.pageheader {
	background-repeat: no-repeat;
	text-transform: capitalize;
}
