/* http://hendry.iki.fi/css/bluegold.css
With thanks to Tom Pike and Alan Clements */

body { border-top: solid thick #FF970F; border-bottom: solid thick #FF970F;
       color: white; background-color: #FFC20F;
       font-family : sans-serif;
       font-size: 90%;
       margin: 0em;
       padding: 2em;
}

:link { color: #1EA2FF; }
:visited { color: #FF500F; }
:link:active, :visited:active, :link:hover, :visited:hover { color: #FF500F; background: #1EA2FF; }

pre { font: 1.5em monospace; color: white; background: black; overflow: auto; white-space: pre-wrap;}

#content, #comments {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: #1EA2FF;
    padding: 2em;
    margin: 1em;
    color: black;
}
