time {
	display : inline-block;
	font-family: monospace;
	width : 5em;
	color: grey;
	font-size: smaller;
	text-align: right;
}

ol.index {
	color: silver;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
	max-width: 100%;
}

h1, h2, h3, h4 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
}
