time {
	display : inline-block;
	font-family: monospace;
	width : 4em;
	color: grey;
	font-size: smaller;
	text-align: right;
}

blockquote { background-color: #FFFFCC; padding: 1em;

	border-left-style: solid;
	border-left-width: 8px;
	border-right-color: rgb(68, 68, 68);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(68, 68, 68);
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.498039)
}

.posturl {
	font-family: cursive;
}

ol.index {
	color: silver;
	list-style-type: none;
	padding: 0;
}

.index { white-space: nowrap; }

.update {
	padding: 1em;
	background-color: #FFFFCC;
	box-shadow: 0 0 2px #3C790A;
}

footer {
	border-top: thin black solid;
}

* {
	/* auto has no margin whatsoever */
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
	max-width: 100%;
	color: #5B4636;
	background-color: #F4ECD8;
}

h1, h2, h3, h4 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 {
	font-size: 1.6em;
	line-height: 1.25em;
}

h2 {
	font-size: 1.2em;
	line-height: 1.51em;
}

h3 {
	font-size: 1em;
	line-height: 1.66em;
}

a {
	text-decoration: underline;
	font-weight: normal;
}

a,
a:visited,
a:hover,
a:active {
	color: #0095dd;
}

* {
	max-width: 100%;
	height: auto;
}

p > img:only-child,
p > a:only-child > img:only-child,
.wp-caption img,
figure img {
	display: block;
}

img[moz-reader-center] {
	margin-left: auto;
	margin-right: auto;
}

.caption,
.wp-caption-text,
figcaption {
	font-size: 0.9em;
	line-height: 1.48em;
	font-style: italic;
}

blockquote {
	padding: 0;
	-moz-padding-start: 16px;
}

p { margin-left: 0.3em; }

abbr[title], acronym[title] {
	     border-bottom: dotted 1px;
		    }


code, samp, kbd {
	font-family: monospace;
	color: white;
	background-color: black;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	color: white;
	background-color: black;

	}
