html { background-color: blue; }
abbr[title], acronym[title] { border-bottom: dotted 1px; }
body {
	/* https://www.youtube.com/watch?v=299RZ0d1LQY */
	font-family: "Segoe UI", "Seravek", sans-serif;
	background-color: white;
	margin: 0;
	min-height: 100vh;
	position: relative;
}
h1, h2, h3, h4, h5, h6 { font-family: "Noto Serif", "Athelas", "Palatino", serif; }

aside { -webkit-text-size-adjust: auto }

#headline { font-size: 2em; }

ol.index li {
	display: flex;
	line-height:1.8;
}

time {
	min-width: 4em;
}

article > p:first-of-type::first-letter { -webkit-initial-letter: 2; initial-letter: 2; }

article {
	max-width: 50em;
	position: relative;
	margin: 0 auto 0;
	padding: 0 1.5em 3%;
	transition: all 250ms;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

article * { max-width: 100%; }

footer { width: 50%; align-items: center; display: flex; justify-content: space-around; font-size: 0.8em; margin-left: auto; margin-right: auto; }

li { list-style-position:inside; }

