on:
  push:

jobs:
  buid:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - run: sudo apt-get update && sudo apt-get -y install cmark
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4.1.7
      - run: make
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: |
            /tmp/www/natalian
