on:
  push:

jobs:
  buid:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - run: sudo apt-get update && sudo apt-get -y install cmark
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4.1.7
      - run: make
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::407461997746:role/github-actions-Role-56IHHM969DKJ
          aws-region: ap-southeast-1
      - run: make upload
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: |
            /tmp/www/natalian
